* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Centra;
  font-weight: 400;
  src: url(./fonts/CentraNo2-Book.ttf);
}

@font-face {
  font-family: Centra;
  font-weight: 500;
  src: url(./fonts/CentraNo2-Medium.ttf);
}

@font-face {
  font-family: Centra;
  font-weight: 700;
  src: url(./fonts/CentraNo2-Bold.ttf);
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-size: 62.5%;
}

body {
  font-family: Centra;
  overflow-x: hidden;
  background-color: hwb(240 95% 0%);
  color: #252542;
  font-size: 1.8rem;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 0 100px;
  text-align: center;
}

.books {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.book {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

img {
  width: 200px;
  height: 300px;
  background-color: aquamarine;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.delete-button {
  background-color: red;
  color: #fff;
  font-weight: 700;
  border-radius: 7px;
  padding: 5px 11px;
  border: none;
  outline: none;
}

.update-button {
  background-color: blue;
  font-weight: 600;
  border-radius: 7px;
  padding: 5px 11px;
  border: none;
  outline: none;
}

.update-button a {
  color: #fff;
  text-decoration: none;
}

.link-button {
  padding: 5px 10px;
  border-radius: 7px;
  outline: none;
  border: none;
  background-color: rgb(66, 3, 66);
  font-weight: 600;
  margin-top: 10px;
}

.link-button a {
  text-decoration: none;
  color: #fff;
}

.form {
  gap: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

input {
  width: 300px;
  padding: 10px;
  border: none;
  outline: none;
  /* border-radius: 7px; */
  border: 1px solid gray;
}

.formButton {
  background-color: rgb(244, 142, 74);
  padding: 0.7rem 1rem;
  display: inline-block;
  border: none;
  width: fit-content;
  cursor: pointer;
  color: #fff;
  font-weight: 700;
}